# 基礎測驗

* 說明: 首先這個檔案是僅供檢視的，所以你必須在自己的雲端硬碟中另存副本，再開始進行你自己的回答。回答過程中可以使用ChatGPT, 最後需要附上ChatGPT的使用連結。(在ChatGPT右上角的Share Chat，把連結複製下來貼在最下面。為什麼要最下面呢？因為這個Share Chat必須是在你完成了所有問題的詢問之後再給出來，才會有完整的問答)

* 每一題有不同的分數，而每一題當中，在程式碼的後面都要有註解(1分)。若有文字框，就是希望你可以把你的想法寫出來，那邊也會是1分。若程式正確完成就可以得到剩下的分數。

* 最後請將這個檔案下載成『你的學號_Quiz2.ipynb』檔案，並上傳到moodle繳交完成測驗

* 學號: C24106082
* 姓名: 陳宏彰 
* 系級: 物理系升大三

---

1. 請找出哪些三位數，它的每個數字和是質數，並且把它存入一個list。(2 points)

In [1]:
ans = []
for i in range(100, 1000):
    s = i//100 + i//10%10 + i%10
    isPrime = True
    if s == 1:
        continue
    for j in range(2, int(s**0.5)+1):
        if s%j == 0:
            isPrime = False
            break
    if isPrime:
        ans.append(i)
print(ans)

[101, 102, 104, 106, 110, 111, 113, 115, 119, 120, 122, 124, 128, 131, 133, 137, 139, 140, 142, 146, 148, 151, 155, 157, 160, 164, 166, 173, 175, 179, 182, 184, 188, 191, 193, 197, 199, 200, 201, 203, 205, 209, 210, 212, 214, 218, 221, 223, 227, 229, 230, 232, 236, 238, 241, 245, 247, 250, 254, 256, 263, 265, 269, 272, 274, 278, 281, 283, 287, 289, 290, 292, 296, 298, 300, 302, 304, 308, 311, 313, 317, 319, 320, 322, 326, 328, 331, 335, 337, 340, 344, 346, 353, 355, 359, 362, 364, 368, 371, 373, 377, 379, 380, 382, 386, 388, 391, 395, 397, 401, 403, 407, 409, 410, 412, 416, 418, 421, 425, 427, 430, 434, 436, 443, 445, 449, 452, 454, 458, 461, 463, 467, 469, 470, 472, 476, 478, 481, 485, 487, 490, 494, 496, 500, 502, 506, 508, 511, 515, 517, 520, 524, 526, 533, 535, 539, 542, 544, 548, 551, 553, 557, 559, 560, 562, 566, 568, 571, 575, 577, 580, 584, 586, 593, 595, 599, 601, 605, 607, 610, 614, 616, 623, 625, 629, 632, 634, 638, 641, 643, 647, 649, 650, 652, 656, 658, 661, 665, 667, 670, 674, 676, 683, 685, 689, 692, 694, 698, 700, 704, 706, 713, 715, 719, 722, 724, 728, 731, 733, 737, 739, 740, 742, 746, 748, 751, 755, 757, 760, 764, 766, 773, 775, 779, 782, 784, 788, 791, 793, 797, 803, 805, 809, 812, 814, 818, 821, 823, 827, 829, 830, 832, 836, 838, 841, 845, 847, 850, 854, 856, 863, 865, 869, 872, 874, 878, 881, 883, 887, 890, 892, 896, 902, 904, 908, 911, 913, 917, 919, 920, 922, 926, 928, 931, 935, 937, 940, 944, 946, 953, 955, 959, 962, 964, 968, 971, 973, 977, 980, 982, 986, 991, 995]

---
2. 請寫出一個函數，產生一個dict，它需要統計輸入的字串中，每個單字各出現了幾次？請注意，沒有出現的字不需要出現在字典中。舉例來說，如果你將 pneumonoultramicroscopicsilicovolcanoconiosis 單字放進去, 它會有個dict，說明a出現2次，c出現3次。(3 points)

In [2]:
def count(text):
    d = dict()
    for i in text:
        if i in d:
            d[i] += 1
        else:
            d[i] = 1
    return d

print(count('pneumonoultramicroscopicsilicovolcanoconiosis'))

{'p': 2, 'n': 4, 'e': 1, 'u': 2, 'm': 2, 'o': 9, 'l': 3, 't': 1, 'r': 2, 'a': 2, 'i': 6, 'c': 6, 's': 4, 'v': 1}

---

3. 請寫一個程式，從 https://api.worldbank.org/v2/en/indicator/SP.POP.TOTL?downloadformat=excel  取得excel檔案中的資訊，並且從中找出紀錄中每一年(在某一列有)的世界(World)人口。也就是這個回應會有兩個list，一個是紀錄的年份，一個是該年份的世界總人口。(5 points)

In [3]:
!pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xlrd in /home/simba/.local/lib/python3.10/site-packages (2.0.1)

In [4]:
import pandas as pd

df = pd.read_excel('./API_SP.POP.TOTL_DS2_en_excel_v2_5729068.xls')
df.head()

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,Last Updated Date,2023-07-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
3,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
4,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720839314.0

In [5]:
years = df.iloc[2].tolist()[4:]
population = df[df.iloc[:, 0] == 'World'].iloc[0].tolist()[4:]
print(years, population)

[1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0, 2016.0, 2017.0, 2018.0, 2019.0, 2020.0, 2021.0, 2022.0] [3031474234.0, 3072421801.0, 3126849612.0, 3193428894.0, 3260441925.0, 3328209022.0, 3398480280.0, 3468370526.0, 3540164023.0, 3614572835.0, 3690209960.0, 3767930001.0, 3843607574.0, 3920017410.0, 3995888368.0, 4070022249.0, 4143091942.0, 4215826364.0, 4289795862.0, 4365742277.0, 4442348279.0, 4520917350.0, 4602701335.0, 4684875627.0, 4766640881.0, 4850076923.0, 4936006502.0, 5024289346.0, 5113387878.0, 5202582534.0, 5293395467.0, 5382536929.0, 5470164577.0, 5556623321.0, 5642046034.0, 5726736488.0, 5811580202.0, 5896055962.0, 5979726559.0, 6062288850.0, 6144321462.0, 6226348086.0, 6308140970.0, 6389462496.0, 6470924346.0, 6552700448.0, 6635110367.0, 6717878341.0, 6801710019.0, 6885849785.0, 6970038720.0, 7053994597.0, 7141487869.0, 7229731581.0, 7317970484.0, 7405277863.0, 7492156881.0, 7578220703.0, 7661776612.0, 7742682218.0, 7820963775.0, 7888161297.0, 7951149546.0]

---

4. 在課程的介紹中，沒有介紹到while迴圈。請寫一個Python程式透過while迴圈來找出1到100中的質數, 並且把它放入一個list中。你覺得它與for-loop有什麼差別？(3 points)

In [6]:
prime = []
i = 1
end = 100
while i <= end:
    j = 2
    isPrime = True
    while j < int(i**0.5)+1:
        if i%j == 0:
            isPrime = False
            break
        j += 1
    if isPrime:
        prime.append(i)
    i += 1

print(prime)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

**我覺得while與for-loop的差別是**: 明確知道要執行幾次時 for loop 比較好用，但是如果問題是找到第 100 個值數時 while loop 比較好用

---

5. 請從網路上找最新的報稅級距(用你的話寫在下面)，然後用python寫一個compute_tax函數, 輸入x: 綜合所得淨額，輸出y: 應納稅額？(3 points)

In [7]:
def tax(n):
    if n < 560000:
        return n * 0.05
    elif n < 1260000:
        return n  * 0.12 - 39200
    elif n < 2520000:
        return n * 0.2 - 140000
    elif n < 4720000:
        return n * 0.3 - 392000
    else:
        return n * 0.4 - 864000

**報稅級距:**:  
* 綜合所得淨額 0~560000，稅率 5%
* 綜合所得淨額 560001~1260000，稅率 12%，扣掉差額 39200
* 綜合所得淨額 1260001~2520000，稅率 20%，扣掉差額 140000
* 綜合所得淨額 2520001~4720000，稅率 30%，扣掉差額 392000
* 綜合所得淨額 4720001 以上，稅率 40%，扣掉差額 864000

---

6. 請建立一個自己的Python函式庫字典，輸入函式庫的關鍵字之後，秀出你關於那一個關鍵字的學習成果或是你曾經使用過的該關鍵字的函數。至少要有4個關鍵字(4 points)

In [8]:
my_skill = {
    'set': 'set is a data structure that can store unique value, usefull when I need to store something I don\'t care the order',
    'list': 'list is similar with set, but it cares the order and can store two same elements.',
    'tuple': 'tuple is similar with list, but once it defined, you can\'t modify it.',
    'dict': 'dict is a data structure to store key-value pairs, key should be string or int, value can be anything like int, string, set , list or even another dict!',
    'for': 'do something more than one times but write only once',
    'range': 'generate a list of int, used in for loop',
    '=': 'asign a value to variable',
    '==': 'compare if the two value is the same',
    'def': 'define a function, help you to reuse code',
    'print': 'print some value to screen',
    'pandas': 'A great package for processing tabular data',
    'if': 'do something only when the condition is true',
    'elif': 'if all above if/elif baanches are false, do this if the condition is true',
    'else': 'do something if all above branches is false',
}

[print(f"{skill[0]}: {skill[1]}") for skill in my_skill.items()];

set: set is a data structure that can store unique value, usefull when I need to store something I don't care the order
list: list is similar with set, but it cares the order and can store two same elements.
tuple: tuple is similar with list, but once it defined, you can't modify it.
dict: dict is a data structure to store key-value pairs, key should be string or int, value can be anything like int, string, set , list or even another dict!
for: do something more than one times but write only once
range: generate a list of int, used in for loop
=: asign a value to variable
==: compare if the two value is the same
def: define a function, help you to reuse code
print: print some value to screen
pandas: A great package for processing tabular data
if: do something only when the condition is true
elif: if all above if/elif baanches are false, do this if the condition is true
else: do something if all above branches is false

---

**ChatGPT使用連結:**[https://chat.openai.com/share/d46621f5-6374-4df8-af72-ee220cfa42f6](https://chat.openai.com/share/d46621f5-6374-4df8-af72-ee220cfa42f6)